LDAPLogin {
    org.apache.activemq.jaas.LDAPLoginModule required
        debug=true
        initialContextFactory=com.sun.jndi.ldap.LdapCtxFactory
        connectionURL="ldap://127.0.0.1:33389"
        connectionUsername="uid=admin,ou=User,ou=ActiveMQ,ou=system"
        connectionPassword=sunflower
        connectionProtocol=s
        authentication=simple
        userBase="ou=User,ou=ActiveMQ,ou=system"
        userSearchMatching="(uid={0})"
        userSearchSubtree=false
        roleBase="ou=Group,ou=ActiveMQ,ou=system"
        roleName=cn
        roleSearchMatching="(member= uid={1})"
        roleSearchSubtree=true
        ;
};